*{
    margin:0;
    padding:0;
}

body {
    background-color: #f8f9fa;
}
header ul{
    list-style-type: none;
    display: flex;
    width: 450px;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    margin:0;
}
li{
    margin:0;
    text-align: center;
}
.head1{
    display: inline;
}
p{
    margin-left: 20px;
}
header button{
    margin-right: 20px;
}

header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-items .cart-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.cart-items .cart-item h4 {
    font-weight: 500;
}

.cart-summary h4 {
    font-weight: 600;
}

.cart-summary button {
    width: 100%;
}

.cart-item input[type="radio"] {
    width: 20px;
    height: 20px;
}